.experiences{
    border-radius: 1rem;
    background: #272727;
    height: 80vh;
    h1{
        color: #04be32;
        text-align: center;
        margin-right: 2rem;
        padding-top: 2rem;
    }
    .vide0{
        position: absolute;
        left: 48%;
        width: 30px;
        height: 3px;
        background: #04be32;
    }
    .experiencesContent{
        .svg{
            height: 400px;
            margin-top: 7rem;
            .other{
                height: 100px;
                background: #eee;
                transform: translateY(-50px);
            }
        }
        .right{
            position: absolute;
            top: 47%;
            right: 11%;
            h2{
                color: #88f5a3;
                margin-bottom: 1rem;
            }
            .list{
                padding: 1.7rem;
                font-size: 1.2rem;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                background: rgba($color: #000000, $alpha: 0.5);
                transition: .4s ease-in;
                &:hover{
                    background: #eee;
                    color: black;
                transition: .4s ease-out;
            }
            }
        }
        .left{
            position: absolute;
            top: 37%;
            left: 11%;
            h2{
                color: #88f5a3;
                margin-bottom: 1rem;
            }
            .web{ 
                padding: 1.7rem;
                font-size: 1.2rem;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                background: rgba($color: #000000, $alpha: 0.5);
                transition: .4s ease-in;
                &:hover{
                    background: #eee;
                    color: black;
                transition: .4s ease-out;
            }
            }
        }
        .abstract{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            img{
                width: 250px;
                height: auto;
            }
        }
    }
}